@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Prompt:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
:root {
  /* Fontes */
  --DoctorGlitch: 'DoctorGlitch', sans-serif;
  --Nos: 'Nos', sans-serif;
  --CodeVein: 'CodeVein', sans-serif;
  --Zero-Master: 'Zero-Master';
  --Lato: 'Lato', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --Montserrat: 'Montserrat', sans-serif;
  --Prompt: 'Prompt', sans-serif;
  /* Variáveis da cor azul */
  --azure: #EFF1F9;
  --carolina_blue: #1C9CD7;
  --celadon_blue: #247BA0;
  --sapphire_blue: #014990;
  --prussian_blue: #002F5B;
  --índigo_blue: #001030;
  --space: #010b1c;
  /* Variável da cor vermelha */
  --medium_red: #A20202;
  --tomate: #FF814D;
  --rosa: #B517EC;
  --roxo: #6F2BD5;
  --rosa-medio: #FF6B6B;
  /* Variáveis da cor verde */
  --verde-azulado: #009a9f;
  --verde: #30EA66;
  --amarelo: #FCBF02;
  --cinza-clarinho: #F8F8F8;
  --azul-claro: #6E93f7;
  --azul-claro2: #4070F4;
  --winter: #A1E1F6;
  /* Variável da cor cinza */
  --cinza: #424242;
  --cinza-claro: #F2F2F2;
  --cinza-medio: #A9A9A9;
  --cinza-dark: #333333;
  --cinza-escuro: #171717;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  transition: .5s;
}
/* ============================== HEADER =============================== */
.nav {
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 4;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.081);
}
.logo img {
  transition: .7s ease;
  margin-left: 60px;
  filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.23));
}
.logo img:hover {
  transform: scale(1.03);
}
.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin-right: 60px;
  align-items: center;
}
.nav-list li a {
  text-decoration: none;
}
.nav-list li a {
  font: 600 15px var(--Montserrat);
  background-image: linear-gradient(to bottom, var(--rosa), var(--roxo));
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text;
  /* Alguns navegadores precisam do prefixo */
  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;
  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
  padding-block: 5px;
  position: relative;
}
.nav-list a::after {
  content: " ";
  width: 0%;
  height: 1px;
  position: absolute;
  background-color: var(--space);
  bottom: 0;
  left: 0;
  transition: .5s ease-in-out;
}
.nav-list a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid var(--space);
  cursor: pointer;
}
.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: var(--space);
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
header .nav .trilho {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 36px;
  background-image: url(../../img/sky.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 2px 3px 0.1px rgba(0, 0, 0, 0.385), 0 0 80px rgba(255, 255, 255, 0.159);
  transition: .5s;
  cursor: pointer;
  border-radius: 70px;
  position: relative;
}
header .nav .trilho .dark-mode {
  width: 20px;
  height: 20px;
  padding: 14px;
  margin-left: 3px;
  border-radius: 50%;
  display: flex;
  transform: scale(.9);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  transition: .5s;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.253), 0 0 0 14px rgba(255, 255, 255, 0.16), 0 0 0 21px rgba(255, 255, 255, 0.084);
}
header .nav .dark-mode img {
  width: 40px;
  height: 40px;
}
header .nav .dark-mode img.night {
  display: none;
}
header .nav .trilho.dark {
  background-image: url(../../img/space3.png);
  background-color: var(--space);
}
header .nav .trilho.dark .dark-mode {
  background-color: transparent;
  border: none;
  left: 63px;
  transition: .5s;
  box-shadow: none;
}
header .nav .trilho.dark .dark-mode img.night {
  display: block;
}
header .nav .trilho.dark .dark-mode img.light {
  display: none;
}
body.dark {
  background-color: var(--space);
}
body.dark .nav {
  background-color: var(--space);
}
body.dark .nav-list li a {
  color: white;
}
body.dark h1 {
  color: white;
}
body.dark .hamburger {
  border-color: white;
}
body.dark .hamburger::after,
body.dark .hamburger::before {
  background-color: white;
}
body.dark .nav-list {
  background-color: var(--space);
}
/* body.dark .introducao{
  background: none;
} */
/* ============================ FIM HEADER ============================= */
/* ================== MEDIA QUERY (MAX-WIDTH: 750px) =================== */
/* ================ FIM MEDIA QUERY (MAX-WIDTH: 750px) ================= */
.introducao {
  width: 100%;
  height: 70vh;
  display: flex;
  position: relative;
  text-align: center;
  background: linear-gradient(45deg, #B517EC, #6F2BD5, #B517EC, #6F2BD5);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  color: white;
  z-index: -10;
}
@keyframes color {
  0% {
    background-position: 0 60%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 60%;
  }
}
body.dark .layer5 {
  transform: translateY(-100vh) translateX(-60vw);
}
.parallax-rocket {
  height: 100%;
  overflow: hidden;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer1 {
  background-image: url('../../img/Camada\ 1\ \(fundo\).svg');
  z-index: -4;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.236));
}
body.layer1 {}
.layer2 {
  background-image: url(../../img/Camada\ 2\ \(estrelas\).png);
  z-index: -3;
}
.layer3 {
  background-image: url(../../img/Camada\ 3\ \(planetas\).svg);
  z-index: -2;
  animation: orbita 5s steps(100) infinite;
}
@keyframes orbita {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
.layer4 {
  background-image: url(../../img/Camada\ 4\ \(planetas\).svg);
  z-index: -1;
}
.layer5 {
  background-image: url('../../img/foguete.svg');
  z-index: 0;
  transition: 3s;
}
.layer6 {
  background-image: url(../../img/Camada\ 6\ \(astronauta\).svg);
  z-index: 1;
  width: 70px;
  height: 75px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 93%;
  transition: 5s all;
  animation: girar 8s steps(100) infinite;
}
body.dark .layer6 {
  top: 30%;
  left: 70%;
}
@keyframes girar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.layer7 {
  background-image: url(../../img/Camada\ 7\ \(ovini\).svg);
  transform: rotate(-20deg) translate(-54vh, 2vw);
  z-index: -3;
  width: 65px;
  height: 32px;
  transition: 5s;
  top: 50%;
  left: 93%;
}
body.dark .layer7 {
  top: 20%;
  left: 150%;
}
.flex-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  width: 50vw;
  gap: 40px;
}
.inner-header.flex {
  /*Flexbox for containers*/
  position: relative;
  /* Redundante */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  gap: 40px 0;
}
.introducao .flex-intro .inner-header.flex h1 {
  font: 500 clamp(25px, 3vw, 40px) var(--Montserrat);
  line-height: 1.75em;
}
.introducao .flex-intro .inner-header.flex span {
  color: var(--azure);
  font: 600 20px var(--Montserrat);
}
.introducao .flex-intro .inner-header.flex p {
  font: 400 14px var(--Lato);
  letter-spacing: 1px;
  color: white;
}
.introducao .logo-motion img {
  width: 10vw;
  z-index: 10;
}
/* ======================= SEÇÃO RESPONSIVIDADE ======================== */
section.responsividade {
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
section.responsividade .dispositivos {
  width: clamp(50vw, 500px, 100vw);
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 60px;
  background-color: var(--cinza-clarinho);
}
section.responsividade .dispositivos .resp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px 0;
  align-self: center;
}
section.responsividade .dispositivos .resp img {
  width: 50px;
  height: 50px;
  background-color: var(--azure);
  padding: 10px 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  margin: auto;
}
section.responsividade .dispositivos .resp span {
  font: 600 20px var(--Montserrat);
}
section.responsividade .dispositivos .resp p {
  font: 400 14px var(--Montserrat);
}
section.responsividade .dispositivos-img img {
  width: 50vw;
  height: auto;
  margin: auto;
}
/* ===================== FIM SEÇÃO RESPONSIVIDADE ====================== */
/* ========================== SEÇÃO LETREIRO =========================== */
section.animacao-letreiro {
  width: 100%;
}
section.animacao-letreiro .letreiro {
  text-align: center;
  background-color: var(--rosa-medio);
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  overflow: hidden;
  font: 700 65px var(--Prompt);
  text-transform: uppercase;
  letter-spacing: 7px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  white-space: nowrap;
  -webkit-text-stroke-color: white;
}
section.animacao-letreiro .letreiro.up p {
  animation: 10s infinite slide linear alternate;
}
section.animacao-letreiro .letreiro.down p {
  animation: 10s infinite letreiro linear alternate;
}
section.animacao-letreiro .letreiro p span {
  color: white;
  -webkit-text-stroke: none;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1900px);
  }
}
@keyframes letreiro {
  0% {
    transform: translateX(-1900PX);
  }
  100% {
    transform: translateX(0);
    /* Mudança para positivo para inverter a direção */
  }
}
/* ======================== FIM SEÇÃO LETREIRO ========================= */
/* ========================== SEÇÃO POTENCIAL ========================== */
section.potencial {
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
  padding: 60px;
}
section.potencial .texto-potencial {
  font-size: clamp(1rem, 2.5vw, 2rem);
  ;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.potencial .texto-potencial h1 {
  font: 500 40px var(--Roboto);
  color: var(--cinza-dark);
}
section.potencial .texto-potencial p {
  font: 400 17px var(--Roboto);
  color: var(--cinza-medio);
  line-height: 1.5em;
}
section.potencial .texto-potencial button {
  font: 500 17px var(--Roboto);
  color: white;
  background: linear-gradient(45deg, #B517EC, #6F2BD5);
  padding: 17px 20px;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
}
section.potencial .texto-potencial .beneficios ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: 400 16px var(--Roboto);
  color: var(--cinza);
}
section.potencial .texto-potencial .beneficios ul li i {
  background-color: var(--azul-claro2);
  color: white;
  padding: 4px 4px 3px;
  border-radius: 50px;
  margin-right: 10px;
}
section.potencial .img-potencial {
  display: flex;
  height: 100%;
  gap: 60px;
  align-items: center;
}
section.potencial .img-potencial img {
  border-radius: 10px;
  height: 550px;
  cursor: pointer;
}
section.potencial .img-potencial img.first {
  position: relative;
  top: -20px;
  box-shadow: 30px 30px 20px rgb(0 0 0 / 14%);
}
section.potencial .img-potencial img.second {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.336));
}
@media (min-width: 1230px) {
  /* Tamanho maior de tela */
  section.potencial {
    justify-content: space-between;
  }
  section.potencial .texto-potencial {
    max-width: 40vw;
  }
}
@media (max-width: 1160px) {
  section.potencial {
    justify-content: center;
  }
  section.responsividade .dispositivos {
    width: 100vw;
  }
}
@media (max-width: 767px) {
  /* Tamanho menor de tela */
  section.potencial .img-potencial {
    display: none;
  }
}
/* ======================== FIM SEÇÃO POTENCIAL ======================== */
/* ========================== SEÇÃO SERVIÇOS =========================== */
/* ======================== FIM SEÇÃO SERVIÇOS ========================= */
/* ========================= PARALLAX INOVAÇÃO ========================= */
section.parallax-inovacao {
  background-image: url(../../img/Inovação.png);
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.parallax-inovacao .texto-parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
  background-color: #031041ab;
  color: white;
  gap: 20px;
}
section.parallax-inovacao .texto-parallax h1 {
  font: 800 40px var(--Montserrat);
}
section.parallax-inovacao .texto-parallax p {
  font: 400 18px var(--Montserrat);
}
/* ======================= FIM PARALLAX INOVAÇÃO ======================= */
@media (max-width: 768px) {
  .nav {
    padding: 0 20px;
  }
  .logo img {
    margin: 0;
  }
  .hamburger {
    display: block;
    z-index: 1;
  }
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }
  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }
  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }
  /* Estilos ativos */
  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  .nav.active .nav-list a {
    opacity: 1;
  }
  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 30px;
    border-top-color: transparent;
  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  .introducao .flex-intro {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    gap: 30px;
  }
  .introducao .inner-header.flex {
    gap: 20px 0;
  }
  section.potencial .texto-potencial h1 {
    font-size: 30px;
  }
  section.responsividade .dispositivos {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  section.responsividade .dispositivos {
    grid-template-columns: 1fr;
    /* Altera para uma coluna */
    height: auto;
  }
  section.responsividade {
    flex-direction: column;
  }
  section.responsividade .dispositivos-img img {
    width: 100vw;
  }
  section.animacao-letreiro .letreiro p {
    font: 500 45px var(--Prompt);
  }
  section.potencial {
    padding: 20px 20px 40px 20px;
  }
}
.cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  border: 1.5px solid var(--roxo);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
}
.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: var(--roxo);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0;
}